<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes/Egresados</title>
    <link rel="stylesheet" href="../../assets/buscar_empleado.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>

<body>

    <header>
        <nav>
            <ul>
                <li>user</li>
                <li>seccion1</li>
            </ul>
        </nav>
    </header>

    <main>
        
        <div class="margenes">
            <div class="centrar">
                <div data-aos="zoom-in" class="panel_lateral left ">
                    <div class="column">
                        <h4><b>Estudios</b> </h4>
                        <div class="value">Años de Experiencia 0</div>
                        <input class="rango" type="range" min="0" max="20" step="1" value="0">
                    </div>
                </div>
                <div class="column">
                    <div data-aos="zoom-in" class="postulado centrar">
                        <img src="../assets/kimbo.jpeg" alt="">
                        <div class="datos">
                            <h4>Nombre</h4>
                            <h4>Email</h4>
                            <h4>Año egreso</h4>
                        </div>
                        <div class="botones centrar column">
                            <a href="./perfil_estudiante.html">Ver Perfil</a>
                            <a href="">Contactar</a>
                        </div>
                    </div>
                    <div data-aos="zoom-in" class="postulado centrar">
                        <img src="../assets/kimbo.jpeg" alt="">
                        <div class="datos">
                            <h4>Nombre</h4>
                            <h4>Email</h4>
                            <h4>Año egreso</h4>
                        </div>
                        <div class="botones centrar column">
                            <a href="">Ver Perfil</a>
                            <a href="">Contactar</a>
                        </div>
                    </div>
                    <div data-aos="zoom-in" class="postulado centrar">
                        <img src="../assets/kimbo.jpeg" alt="">
                        <div class="datos">
                            <h4>Nombre</h4>
                            <h4>Email</h4>
                            <h4>Año egreso</h4>
                        </div>
                        <div class="botones centrar column">
                            <a href="">Ver Perfil</a>
                            <a href="">Contactar</a>
                        </div>
                    </div>
                    <div data-aos="zoom-in" class="postulado centrar">
                        <img src="../assets/kimbo.jpeg" alt="">
                        <div class="datos">
                            <h4>Nombre</h4>
                            <h4>Email</h4>
                            <h4>Año egreso</h4>
                        </div>
                        <div class="botones centrar column">
                            <a href="">Ver Perfil</a>
                            <a href="">Contactar</a>
                        </div>
                    </div>
                    <div data-aos="zoom-in" class="postulado centrar">
                        <img src="../assets/kimbo.jpeg" alt="">
                        <div class="datos">
                            <h4>Nombre</h4>
                            <h4>Email</h4>
                            <h4>Año egreso</h4>
                        </div>
                        <div class="botones centrar column">
                            <a href="">Ver Perfil</a>
                            <a href="">Contactar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>

    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
        var elem = document.querySelector('input[type="range"]');

        var rangeValue = function () {
            var newValue = elem.value;
            var target = document.querySelector('.value');
            target.innerHTML = "Años de Experiencia "+newValue;
        }

        elem.addEventListener("input", rangeValue);
        AOS.init();
    </script>
</body>

</html>