<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresario</title>
    <link rel="stylesheet" href="../../assets/empresario_login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <header>

    </header>

    <main>
        <div data-aos="zoom-in" class="container">
            <div class="margenes">
                <div class="formulario">
                    <form method="POST" action="">
                        <h1>Empresa</h1>
                        <img src="../../assets/empresa.svg" alt="">
                        <input type="email" placeholder="Correo Electronico" name="correo" id="correo" required>
                        <input type="password" placeholder="Contrasenia" name="password" id="password">
                        <button type="submit">Iniciar Sesion</button>
                        <a href="">¿No tienes cuenta? Registrate!</a>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>