<?php
defined('BASEPATH') or exit('No direct script access allowed');
?>
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<title>Trabajo xd</title>
	<link rel="stylesheet" href="../../assets/login.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>

	<header>

	</header>

	<main>

		<div data-aos="fade-down" class="container">
			<div class="margenes">
				<div class="login_container">
					<div class="empresa">
						<h1>Empresario</h1>
						<img src="../../assets/empresa.svg" alt="">
						<a href="./empresario_login.html">Ingresar</a>
					</div>
					<div class="estudiante">
						<h1>Estudiante</h1>
						<img src="../../assets/estudiante.svg" alt="">
						<a href="./estudiante_login.html">Ingresar</a>
					</div>
				</div>
			</div>
		</div>

	</main>

	<footer>

	</footer>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</body>

</html>