<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/perfil_empresa.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Tomás Vargas</title>
</head>

<body>
    <header>
        <section>
            <nav class="nav">
                <ul class="nav__ul">
                    <li class="nav__li"><a href="#" class="nav__logo">LABURO</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">Index</a></li>
                    <li class="nav__li nav__li--right"><a href="#" class="nav__a">Tomás Vargas</a></li>
                </ul>
            </nav>
        </section>
    </header>

    <main data-aos="zoom-in">
        <section>
            <div class="container">
                <div class="panel">
                    <img src="../assets/empresario.jpg" alt="" class="panel__img">
                    <div class="panel__texto">
                        <h1 class="panel__titulo">Estudios</h1>
                        <p class="panel__subtitulo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia a
                            doloremque iusto recusandae ducimus facilis consequatur minima ex, vitae ut, dignissimos
                            quam repudiandae delectus accusamus quidem! Itaque minus suscipit perferendis.</p>
                    </div>
                </div>
                <div class="box">
                    <div class="box__box">
                        <h2 class="box__titulo">Experiencia</h2>
                        <p class="box__descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga iure
                            repellat, mollitia odio sunt laudantium distinctio beatae possimus quibusdam labore eos
                            veritatis veniam repellendus fugiat corporis nihil dolores vero porro.</p>
                    </div>
                    <div class="box__box">
                        <h2 class="box__titulo">Pasantias</h2>
                        <p class="box__descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga iure
                            repellat, mollitia odio sunt laudantium distinctio beatae possimus quibusdam labore eos
                            veritatis veniam repellendus fugiat corporis nihil dolores vero porro.</p>
                    </div>
                    <div class="box__box">
                        <h2 class="box__titulo">Titulo</h2>
                        <p class="box__descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga iure
                            repellat, mollitia odio sunt laudantium distinctio beatae possimus quibusdam labore eos
                            veritatis veniam repellendus fugiat corporis nihil dolores vero porro.</p>
                    </div>
                </div>
            </div>

            </div>
        </section>
    </main>

    <footer>

    </footer>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>