<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/perfil_empleado.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Document</title>
</head>

<body >
    <header>
        <section>
            <nav class="nav-wrapper">
                <ul>
                    <li><a href="#">Index</a></li>
                </ul>
            </nav>
        </section>
    </header>

    <main data-aos="zoom-in">
        <section>
            <div class="empleado">
                <div class="empleado__panel">
                    <img src="../assets/estudiante.jpeg" alt="">
                    <div class="empleado__panel__principal">
                        <b>
                            <h1>Nombre</h1>
                        </b>

                    </div>
                </div>
                <div class="empleado__box_container">
                    <div class="empleado__box">
                        <b>
                            <h3>Estudios</h3>
                        </b>
                        <p></p>
                    </div>
                    <div class="empleado__box">
                        <b>
                            <h3>Experiencia</h3>
                        </b>
                    </div>
                    <div class="empleado__box">
                        <b>
                            <h3>Pasantias</h3>
                        </b>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>

    </footer>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>