body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #5b5bbb, #db6464);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*linear-gradient(to bottom, #5b5bbb, #d17979);*/
}
.margenes{
    margin-inline: 10%;
}
.container{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    margin-top :1em;
    width: 10em;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(184 127 249 / 54%);
    color: black;
    border: 0.15em solid black;
    text-align: center;
}
img{
    width: 50px;        
    height: auto;
}
a:hover{    
    background-color: rgba(152, 94, 218, 0.54);
    cursor:pointer;
}
h1{
    color: black;
}
.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5b5bbb;
    padding: 2em;
    border-radius: 2em;
    border: 0.15em solid black;
}
.empresa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:2em;
}
.estudiante{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:2em;
}
